.cabecalho {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: var(--color-sec);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.cabecalho-topo,
.cabecalho-baixo {
    padding: 12px 7rem;
}

.cabecalho-topo {
    height: 22px;
    border-bottom: 1px solid var(--color-cnz_clr-border);
}

.cabecalho-topo-esquerda p,
.cabecalho-topo-direita p {
    font-size: 12px;
    color: var(--color-cnz);
}

.cabecalho-topo-direita .bx {
    color: var(--color-cnz);
}

.cabecalho-baixo {
    height: 60px;
}

.cabecalho-baixo-esquerda .cabecalho-logo{
    width: 174px;
    height: auto;
}

.cabecalho-baixo-meio {
    border-radius: 8px;
    border: 1px solid var(--color-cnz_clr-border);
    overflow: hidden;
}
.cabecalho-baixo-meio form input{
    width: 330px;
    height: 35px;
    outline: none;
    padding-left: 1rem;
    background-color: var(--color-cnz_clr);
}
.cabecalho-baixo-meio button {
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    border-left: 1px solid var(--color-cnz_clr-border);
}

.cabecalho-baixo-direita .bx {
    color: var(--color-pri);
    font-size: 30px;
}
.cabecalho-baixo-direita .bx:hover {
    color: var(--color-cnz);
    transition: all 100ms ease-in-out;
}
