.receita-area {
    display: grid;
    min-height: 100vh;
    margin-top: 90px;
    padding: 0 7rem;
    grid-template-columns: repeat(4,1fr);
}

.receita-item {
    max-width: 300px;
    height: 400px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.receita-item--img {
    height: 180px;
}
.receita-item--titulo {
    font-size: 23px;
    font-weight: bold;
    padding: 4px 7px;
}
.receita-item--descricao {
    height: 130px;
    font-size: 14px;
    padding: 0 7px;
    -webkit-mask-image: linear-gradient(to bottom, black 30%, transparent);
    mask-image: linear-gradient(to bottom, black 30%, transparent);
}
.receita-item--botao {
    height: 50px;
    padding: 5px 7px;
}
.receita-item--botao button {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--color-pri);
    color: var(--color-sec);
    font-weight: bold;
}
.receita-item--botao button:hover {
    background-color: var(--color-cnz);
    transition: all 150ms ease-in-out;
}

